body{
    display: flex;
    flex-direction: column;
}

a{
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

#navbar-box{
    border: 1px solid black;
    position: fixed;
    width: 100%;
    padding: 16px 0 0 15px;
    font-size: 14px;
}

#navbar-box ul li{
    display: inline;
    padding: 0 5px 0 5px;
}

.left-links{
    float: left;
    padding: 10px;
}

.right-links{
    float: right;
    margin-right: 40px;
}

#apps-link{
    opacity: 0.55;
}

#apps-link:hover{
    opacity: 1;
}

#login-btn{
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    width:60px;
    height:30px;
    cursor: pointer;
}

#main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    height: 87vh;
}

#main-box img{
    margin: 10px auto 10px auto;
}

#search-form{
    margin: 20px;
}

#search-field{
    display: block;
    margin: auto;
    border: 1px solid gray;
    border-radius: 20px;
    outline: none;
}

#search-field:active{
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

#footer-box{
    border: 1px solid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer-box ul li{
    display: inline;
}