body{
    display: flex;
    flex-direction: column;
}

a{
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

#navbar-box{
    position: fixed;
    width: 100%;
    padding: 16px 0 0 15px;
    font-size: 14px;
}

#navbar-box ul li{
    display: inline;
    padding: 0 5px 0 5px;
}

.left-links{
    float: left;
    padding: 12px;
    margin-left: 10px;
    color: #606060;
}

.right-links{
    float: right;
    margin-right: 40px;
    padding: 10px;
    color: #606060;
}

#apps-link{
    opacity: 0.55;
}

#apps-link:hover{
    opacity: 1;
}

#login-btn{
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    width:60px;
    height:30px;
    cursor: pointer;
}

#main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 87vh;
}

#main-box img{
    margin: 10px auto 10px auto;
}

#search-form{
    margin: 20px;
}

#search-field{
    display: block;
    margin: auto;
    border: 1px solid gray;
    border-radius: 20px;
    outline: none;
    height: 35px;
    font-size: 14px;
    padding: 0 40px 0 40px;
    
    background-image: url(/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: 12px 10px;
    background-size: 20px;
}

#search-field:hover{
    box-shadow: 0 3px 2px rgba(0,0,0,0.2);
}

#search-field:active{
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

#button-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.search-btn{
    padding: 5px;
    margin: 0 6px 0 6px;
    outline: none;
    border: gray;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    height: 40px;
    color: #484848;
    opacity: 0.9;
    transition-duration: 0.3s;
}

.search-btn:hover{
    color: #000;
    border: 1px solid #A7A7A7;
    opacity: 1;
}


#footer-box{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F1F1F1;
    font-size: 14px;
    border-top: 1px solid #E8E8E8;
    padding: 8px 0 10px 0;
}

#footer-box ul li{
    display: inline;
    margin: 0 10px 0 5px;
}